<div class="passport">
  <div class="passport-content black-box">
    <div class="row header">
      <div class="col header-spacer"></div>
      <div class="col header-headline">
        <div>
          <div class="row header-government">STATE OF SAN ANDREAS</div>
          <div class="row header-idcard">IDENTIFICATION CARD</div>
        </div>
      </div>
    </div>
      <div class="row bandage">
        <div class="col container-badge">
          <div class="bandage-badge"></div>
        </div>
        <div class="container-name col">
        <div class="name">Erik Rettschlag</div>
        </div>
      </div>
      <div class="row information">
        <div class="col header-spacer"></div>
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="row info-box">
                <div class="row uppercase">date of birth</div>
                <div class="row info-arguments">18.04.1997</div>
              </div>
              <div class="row info-box">
                <div class="row uppercase">place of birth</div>
                <div class="row info-arguments">Dresden</div>
              </div>
            </div>
            <div class="col">
              <div class="row info-box">
                <div class="row uppercase">Nationality</div>
                <div class="row info-arguments">deutsch</div>
              </div>
              <div class="row info-box">
                <div class="row uppercase">Gender</div>
                <div class="row info-arguments">human</div>
              </div>
            </div>
            <div class="col"></div>
          </div>
          <div class="row signature-box">
            <div class="row signature">Erik Rettschlag</div>
          </div>
        </div>
      </div>
    <div class="id-number">123456</div>
    <div class="passport-number">9876543</div>
    <div class="gender-number">G</div>
    <div class="seal"></div>
  </div>
</div>
